.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 100px;
}

@media(max-width:1919px) {
    .features {
        margin-top: 80px;
    }
}

@media(max-width:1100px) {
    .features {
        margin-top: 50px;
    }
}